

h1, h2, h3, h4, h5, h6 {
	font-family:'Questrial';
}
h2, h3 {
	color:#FB6816;
}
h2 {
	text-transform:uppercase;
}
h3 {
	margin-top:0;
	padding:0;
}
p {
	color:#44495e;
}


/*
Slider
*************************************************/
 .slide {
	height:720px;
	direction:block;
	width:100%;
	margin:0;
	padding:0;
	border-bottom:6px solid #FB6816;
}

.slide .content {
	padding-top:280px;
	text-align:center;
	color:#fff;
}
.slide .mask {
	/*display:none;*/
	background:#202835;
	background: rgba(32, 40, 53, 0.3);
	padding:10px 150px;
	width:70%;
	margin:0 auto;
	text-transform:uppercase;
}
.current .mask {
	display:block;
}
.slide p {
	color:#fff;
	font-size:35px;
}
.slide h1 {
	font-size:110px;
	border-bottom:1px solid #fff;
}
.slide .btn {
	margin-top:40px;
}

