<script>
    function PDF(txt) {
        var html = '<div class="embed-responsive" style="padding-bottom:85%">';
        html += '<object data="/upload/silabos/' + txt + '.pdf" type="application/pdf" width="100%" height="100%"></object>';
        html += '</div>';
        $("#pdf").html(html);
    }

</script>
<div class="card" >

    <div class="card-header"  style="background: #bbb">


        <div class="row">

            <div class="container " style="margin-top: 3%"> 
                <!-- Trigger the modal with a button -->


                <div class=" table-responsive " style="margin-top: 10%;background: #e5e5e5">           

                    <center>
{{#if msg}}
                        {{#if  msg.error}}
                        <center>
                            <label style="background: #FE2E2E">{{ msg.error}}</label>
                        </center>
                        {{/if}}
                        {{#if msg.info}}
                        <center>
                            <label style="background: #04B431">{{ msg.info}}</label>
                        </center>
                        {{/if}}
                        {{/if}}
                        <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Lista d<span class="color-b">e Silabos</span></a>

                        <br>
                    </center>
                    <table id="tabla" class="table table-hover table-responsive  ">

                        <thead class="color-b" style="font-size: 20px;text-align: center">                                         
                        <th>#</th>
                        <th>Imagen</th>
                        <th>Docente</th>
                        <th>Periodo Academico</th>
                        <th>Materia</th>
                        <th>Silabos</th>
                        <th>Estado</th>
                        </thead>

                        <tbody style="text-align: center">

                            {{#each Silabo  as |silabo i|}}
                            <tr>
                                <td> {{i}}   </td>
                                <td>  

                                    <a href="/images/gallery/sin_foto.jpg" target="_blank"> <img class = "rounded" src = "/images/gallery/{{silabo.docente.persona.foto}}" width = "40" /> </a>
                                </td>
                                <td>{{silabo.docente.persona.nombres}} {{silabo.docente.persona.apellidos}}</td>
                                <td> Desde: {{silabo.periodoAcademico.fechaInicio}} Hasta: {{silabo.periodoAcademico.fechaFin}} </td>
                                <td> {{silabo.materium.nombre}}   </td>
                                <td>  <a  id="b{{i}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>

                                {{#if  silabo.estado}}
                                <td><a  id="{{i}}" class="btn btn-success col-md-12"  href="#"  style="margin-left: 5%;background: #FFC312" data-placement="top" data-toggle="modal" data-target="#Form2" title="Editar" ><span class="glyphicon glyphicon-pencil">Activo</span></a>

                                    {{else}}
                                <td><a id="{{i}}"  class="btn btn-success col-md-12 "  href="#"  style="margin-left: 5%;background: #FE2E2E" data-placement="top" data-toggle="modal" data-target="#Form2" title="Editar" ><span class="glyphicon glyphicon-pencil">Inactivo</span></a>
                                    {{/if}}
                            </tr>
                        <script>
                            $("#{{i}}").click(function () {
                                $("#external").val("{{silabo.external_id}}");
                                $("#estado").val("{{silabo.estado}}");
                                $("#usuario").val("{{silabo.docente.persona.nombres}} {{silabo.docente.persona.apellidos}}");
                            });
                            $("#b{{i}}").click(function () {
                                PDF("{{silabo.external_id}}");
                            });
                        </script>
                        {{/each}}


                        </tbody>

                    </table>

                </div>

            </div>
        </div>


    </div>  
</div> 
<div id="Form2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <center>
                <div class="modal-header" >

                    <h2 class="modal-title" style="margin-left: 15%">Estado de Solicitud</h2> 
                </div>
            </center>
            <div class="modal-body">
                <form action="/estado/silabos/" id="consultas" method="POST">

                    <input type="hidden"  id="external" name="external"/>
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" id="usuario"  readonly="">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select type="text" class="form-control" id="estado"  name="estado">
                            <option value="true">Aceptada</option> 
                            <option value="false">Denegada</option>
                        </select>
                    </div>

                    <div class="modal-footer col-md-12"> 
                        <button type="submit" class="btn btn-success col-md-6 " >Guardar</button>
                        <button type="button" class="btn btn-danger col-md-6"  data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>






<!-- Modal Editar Estado -->
<div id="PDF" class="  modal fade" role="dialog" style="">
    <div class="container">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="card" >
                <div class="card-header " >
                    <a type="button" class="btn btn-danger col-md-12" href="/lista/silabos">Cerrar</a>

                    <div id="pdf">           

                    </div>
                </div>  

            </div> 

        </div>

    </div>
</div>