<script>
    $(function () {

        $.validator.addMethod("cedula", function (value, element) {
            return this.optional(element) || validarCedula(value);
        }, "Ingrese una cedula valida ");
        $("#estado").validate({
            rules: {
                cedula: {
                    required: true,
                    number: true,
                    cedula: true,
                    minlength: 10,
                    maxlength: 10
                },
                titulo: {
                    required: true
                }
            }
        });
    });
    function cargarPersona(txtCedula) {

        $.ajax({
            url: '/lista/docente/API/' + txtCedula,
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                var html = "";
                if (data === true) {
                    html += '<label style="background: #FE2E2E">El Docente ya esta registrado</label>';
                    $("#mensaje").html(html);
                    $('#cedula').val("")
                } else {
                    html += '<input type="hidden" value="' + data.persona.external_id + '" id="external" name="external"/>';
                    html += ' <center><img class = "rounded" src = "/images/gallery/' + data.persona.foto + '" width = "90" /></center> <br>';
                    html += ' <label>Docente:</label>';
                    html += ' <input type="text" class="form-control" id="cedula"  value="' + data.persona.nombres + " " + data.persona.apellidos + '" readonly/>';
                    html += ' <label>Titulo:</label>';
                    html += ' <input type="text" class="form-control" id="titulo"  name="titulo"/><br>';
                    html += ' <label>Carrera:</label>';
                    html += ' <select class="form-control" id="carrera"  name="carrera">';
                    html += '{{#each this.Carrera as |Carrera i|}}';
                    html += '<option value="{{Carrera.external_id}}">{{Carrera.nombre}}</option>';
                    html += '{{/each}}';
                    html += '</select>';
                    $("#usuario").html(html);
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        }
        );
    }

    function cargarDocente(txt) {
        $.ajax({
            url: '/cargar/docente/API/' + txt,
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                var html = "";
                html += ' <center><img class = "rounded" src = "/images/gallery/' + data.persona.foto + '" width = "90" /></center> <br>';
                html += ' <label>Docente:</label>';
                html += ' <input type="text" class="form-control" id="cedula"  value="' + data.persona.nombres + " " + data.persona.apellidos + '" readonly/>';
                html += ' <label>Titulo:</label>';
                html += ' <input type="text" value="' + data.titulo + '" class="form-control" id="titulo"  name="titulo"/>';
                html += ' <label>Carrera:</label>';
                html += ' <select class="form-control" id="carrera"  name="carrera">';
                html += '{{#each this.Carrera as |Carrera i|}}';
                html += '<option value="{{Carrera.external_id}}">{{Carrera.nombre}}</option>';
                html += '{{/each}}';
                html += '</select>';
                $("#usuario").html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }



    $(document).ready(function () {
    $("#cedula").keyup(function () {
    var txt = $("#cedula").val();
            if (txt.length === 10) {
    cargarPersona(txt);
    } else {
    $("#usuario").html("");
    }
    });
    }
    );
    function borrar() {
        $("#externalD").val("0");
        $("#cedula").val("");
        $("#usuario").html("");
        $('#cedula').attr('readonly', false);
    }
</script>
<div class="card" >

    <div class="card-header " style="background: #bbb">


        <div class="row">

            <div class="table-responsive" style="margin-left: 3%;margin-right: 3%" > 
                <!-- Trigger the modal with a button -->


                <div class="table-responsive" style="margin-top: 8%;background: #e5e5e5">           
                    <center>
                        {{#if msg}}
                        {{#if  msg.error}}
                        <center>
                            <label style="background: #FE2E2E">{{ msg.error}}</label>
                        </center>
                        {{/if}}
                        {{#if msg.info}}
                        <center>
                            <label style="background: #04B431">{{ msg.info}}</label>
                        </center>
                        {{/if}}
                        {{/if}}

                        <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Lista d<span class="color-b">e Docentes</span></a>
                        <br>
                        <a class="btn btn-success  "  href="#"  style="background: #FFC312;width: 100%" data-placement="top" data-toggle="modal" data-target="#Form"  onclick="borrar()" ><span class="glyphicon glyphicon-pencil" >Agregar Docente</span></a>
                    </center>
                    <table id="tabla" class="table table-hover table-responsive  navbar-brand" style="font-size: 100%"  >

                        <thead style="text-align: center" class="color-b " >                                         
                        <th>Nro</th>
                        <th>Foto</th>
                        <th>Usuario</th>
                        <th>Cedula</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Titulo</th>
                        <th>Carrera</th>
                        <th>Accion</th>
                        </thead>

                        <tbody style="text-align: center">

                            {{#each this.Docente as |Docente i|}}
                            <tr>
                                <td>N°-{{i}}</td>
                                <td>  

                                    <a href="/images/gallery/sin_foto.jpg" target="_blank"> <img class = "rounded" src = "/images/gallery/{{Docente.foto}}" width = "40" /> </a>
                                </td>
                                <td>{{Docente.docente}}</td>
                                <td>{{Docente.cedula}}</td> 
                                <td>{{Docente.fecha_nacimiento}}</td> 
                                <td>{{Docente.edad}}</td> 
                                <td>{{Docente.telefono}}</td> 
                                <td>{{Docente.direccion}}</td> 
                                <td>{{Docente.titulo}}</td> 
                                <td>{{Docente.carrera}}</td> 
                                <td>
                                    <a id="{{i}}"class="btn btn-success  "  href="#" data-placement="top" data-toggle="modal" data-target="#Form" onclick="cargarDocente('+{{Docente.external_id}}+ ');"  ><span class="glyphicon glyphicon-pencil" >Editar</span></a>

                                </td> 
                            </tr>
                        <script>
                                    $("#{{i}}").click(function () {

                            $('#cedula').attr('readonly', true);
                                    $("#externalD").val("{{Docente.external_id}}");
                                    $("#cedula").val("{{Docente.cedula}}");
                                    cargarDocente("{{Docente.external_id}}");
                            });
                        </script>

                        {{/each}}
                        </tbody>

                    </table>

                </div>

            </div>
        </div>

    </div>  
</div> 

<!-- Modal Editar Estado -->
<div id="Form" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <center>
                <div id="mensaje"></div>
                <div class="modal-header" >

                    <h2 class="modal-title" style="margin-left: 20%">Agregar Docente</h2> 
                </div>
            </center>
            <div class="modal-body">
                <form action="/guardar/docente" id="estado" name="estado" method="POST">
                    <input type="hidden" value="0" id="externalD" name="externalD"/>

                    <div class="form-group">
                        <label for="cedula">Ingrese la Cedula del Usuario:</label>
                        <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Cedula" maxlength="10">
                    </div>
                    <div class="form-group" id="usuario">

                    </div>
                    <div class="modal-footer col-md-12"> 
                        <button type="submit" class="btn btn-success col-md-6 " >Guardar</button>
                        <button type="button" class="btn btn-danger col-md-6"  data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

