<script>
    function cedula(txtCedula) {
        $.ajax({
            url: '/registro/' + txtCedula,
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {

                if (data === true) {
                    var html = '<label style="background: #FE2E2E">El usuario ya existe</label>';
                    $("#mensaje").html(html);
                    $('#cedula').val("");
                } else {
                    $('#apellidos').attr('readonly', false);
                    $('#nombres').attr('readonly', false);
                    $('#fecha_nacimiento').attr('readonly', false);
                    $('#telefono').attr('readonly', false);
                    $('#direccion').attr('readonly', false);
                    $('#correo').attr('readonly', false);
                    $('#clave').attr('readonly', false);
                    $("#mensaje").html("");
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }

    $(function () {
        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras ");

        $.validator.addMethod("cedula", function (value, element) {
            return this.optional(element) || validarCedula(value);
        }, "Ingrese una cedula valida ");

        $("#form_registro").validate({
            rules: {
                cedula: {
                    required: true,
                    number: true,
                    cedula: true,
                    minlength: 10,
                    maxlength: 10
                },
                apellidos: {
                    required: true,
                    soloLetras: true
                },
                nombres: {
                    soloLetras: true,
                    required: true
                },
                fecha_nacimiento: {
                    required: true
                },
                edad: {
                    required: true
                },
                telefono: {
                    required: true
                },
                direccion: {
                    required: true,
                    maxlength: 255
                },
                correo: {
                    required: true
                },
                clave: {
                    required: true
                }
            }
        });
    });

    $(document).ready(function () {

        $('#apellidos').attr('readonly', true);
        $('#nombres').attr('readonly', true);
        $('#fecha_nacimiento').attr('readonly', true);
        $('#telefono').attr('readonly', true);
        $('#direccion').attr('readonly', true);
        $('#correo').attr('readonly', true);
        $('#clave').attr('readonly', true);
        $("#cedula").keyup(function () {
            var txt = $("#cedula").val();
            if (txt.length === 10) {
                cedula(txt);
            } else {
                $('#apellidos').attr('readonly', true);
                $('#nombres').attr('readonly', true);
                $('#fecha_nacimiento').attr('readonly', true);
                $('#telefono').attr('readonly', true);
                $('#direccion').attr('readonly', true);
                $('#correo').attr('readonly', true);
                $('#clave').attr('readonly', true);

                $('#apellidos').val("");
                $('#nombres').val("");
                $('#fecha_nacimiento').val("");
                $('#telefono').val("");
                $('#direccion').val("");
                $('#correo').val("");
                $('#clave').val("");
            }
        });
    });
</script>

<div class="d-flex justify-content-center h-100" style="margin-top: 10%;margin-bottom: 10%"   >
    <div class="card">

        <center>
            <div id="mensaje"></div>
            {{#if msg}}
            {{#if  msg.error}}
            <center>
                <label style="background: #FE2E2E">{{ msg.error}}</label>
            </center>
            {{/if}}
            {{#if msg.info}}
            <center>
                <label style="background: #04B431">{{ msg.info}}</label>
            </center>
            {{/if}}
            {{/if}}
            <div class="card-header">
                <h3>{{titulo}}</h3> 
            </div>  
        </center>

        <div class="card-body" >
            <form id="form_registro" name="form_registro" method="POST" action="/registro/guardar" style="color: white">
                <center>
                    <label style="background: #FE2E2E">Datos Generales</label>
                    <br>

                </center>
                <br>
                <div class="form-group row">
                    <div class="input-group form-group col-sm-12">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="cedula" name="cedula" type="text" class="form-control" placeholder="Cedula">
                    </div>   
                </div>
                <div class="form-group row"> 
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="apellidos" name="apellidos" type="text" class="form-control" placeholder="Apellidos ">

                    </div>
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="nombres" name="nombres" type="text" class="form-control" placeholder="Nombres ">

                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="fecha_nacimiento" name="fecha_nacimiento" type="date" class="form-control" placeholder="Fecha de Nacimiento ">
                    </div>                  
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="edad" name="edad" type="text" class="form-control" placeholder="Edad " readonly>
                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="telefono" name="telefono" type="text" class="form-control" placeholder="Telefono ">

                    </div>
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="direccion" name="direccion" type="text" class="form-control" placeholder="Direccion">

                    </div>
                </div>
                <center>
                    <label style="background: #FE2E2E">Datos de Cuenta</label>
                    <br>

                </center>
                <br>
                Correo Electronico
                <div class="input-group form-group">                                
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input id="correo" name="correo" type="text" class="form-control" placeholder="Correo Electronico">
                </div>
                Clave
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="clave" name="clave" type="password" class="form-control" placeholder="Clave">
                </div>                            
                <div class="form-group">
                    <button type="submit"  class="btn float-right login_btn">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Ya tengo cuenta?<a href="/login"  style="color: #FFC312">Iniciar</a>
            </div>
        </div>
    </div>
</div>
