<script>
    function validacion() {
        $("#form_inicio").validate({
            rules: {
                correo: {
                    required: true
                },
                clave: {
                    required: true,
                }
            }

        });
    }
    $(document).ready(function () {
        validacion();
    });
</script>

<div class="container" style="margin-top: 10%;margin-bottom: 10%">
    <div class="d-flex justify-content-center h-100" >
        <div class="card" style="margin-top: 5%">
            <center>
                {{#if msg}}
                {{#if  msg.error}}
                <center>
                    <label style="background: #FE2E2E">{{ msg.error}}</label>
                </center>
                {{/if}}
                {{#if msg.info}}
                <center>
                    <label style="background: #04B431">{{ msg.info}}</label>
                </center>
                {{/if}}
                {{/if}}

                <div class="card-header">
                    <h3 style="margin-top: 5%">{{titulo}}</h3> 
                </div>  
            </center>

            <form id="form_inicio" name="form_inicio" method="POST" action="/inicioSesion/entrar">

                <div class="card-body">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input id="correo" name="correo" type="text" class="form-control" placeholder="Correo Electronico">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input id="clave" name="clave" type="password" class="form-control" placeholder="Clave">
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn float-right login_btn">Ingresar</button>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    No tengo cuenta?<a href="/registro" style="color: #FFC312">Registrarse</a>
                </div>
            </div>

        </div>
    </div>
</div>

