<style>

</style>

<div class="card" style="margin-top: 6.5%">
    <div class="card-header " style="background: #bbb">
        <div class="" style="background: #e5e5e5">           
            <div class='container' >
                <section id="block-informacion" class="block block-block-content block-block-content2e20ffff-4bbb-41c1-b9d8-14ecae14fa3d clearfix">

                    <h2 style="display:none">0</h2>


                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">

                            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><div id="block-componentes">
                                    <p style="margin:0cm 0cm 0.0001pt">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt;text-align: center"><span style="font-size:12pt"><span style="font-family:Calibri"><b><span style="font-size:13.5pt"><span style="font-family:Arial;color: #000" >REQUISITOS PARA CONVALIDACION-HOMOLOGACIÓN DE ESTUDIOS</span></span></b></span></span></p>
                                    <br>
                                    <p style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="font-family:Calibri"><b><span style="font-family:Arial">1. Petición dirigida al Decano de la Facultad de Energía, las industrias y los recursos Naturales no Renovables, solicitando se homologue los estudios realizados en la carrera de .............; Facultad de .............; de la Universidad ............., y se lo(a) ubique en el ciclo que corresponda en la carrera de ............. de nuestra Facultad.</span></b></span></span></p>

                                    <p style="margin:0cm 0cm 0.0001pt">&nbsp;</p>

                                    <p style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="font-family:Calibri"><b><span style="font-family:Arial;color: #000">Adjuntar:</span></b><span style="font-family:Arial"></span></span></span></p>

                                    <ul><li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial">&nbsp;</span></b><span style="font-family:Arial">Record Académico de la carrera de procedencia, debidamente legalizados por el secretario abogado (por lo menos haber cursado un año de educación superior). </span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Contenidos programáticos o sílabos de los ciclos aprobados </span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Copia del título de bachiller y acta de grado</span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Malla curricular o pensum de estudios</span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Copia de cédula de ciudadanía y certificado de votación actualizado</span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Certificado de haber rendido la prueba SNNA, para los aspirantes que iniciaron sus estudios a partir del 28 noviembre del 2013 y que vienen de Institutos Superiores o Universidades Particulares.</span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Certificado de no haber agotado tercera matrícula en la carrera de origen</span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;Certificado de no tener impedimento legal o disciplinario para continuar con los estudios universitarios</span></span></span></span></li>
                                        <li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;La documentación deberá ser presentada en carpeta folder: roja-electrónica; Verde-Sistemas; Amarilla-Electromecánica; Azul-Geología. </span></span></span></span></li>

                                    </ul><p style="margin:0cm 0cm 0.0001pt">&nbsp;</p>
                                    <p style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="font-family:Calibri"><b><span style="font-family:Arial;color: #000">Observaciones:</span></b><span style="font-family:Arial"></span></span></span></p>

                                    <ul><li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><b><span style="font-family:Arial"></span></b><span style="font-family:Arial">&nbsp;La documentación deberá ser presentada en carpeta folder: roja-electrónica; Verde-Sistemas; Amarilla-Electromecánica; Azul-Geología. </span></span></span></span></li>
                                    </ul><p style="margin:0cm 0cm 0.0001pt">&nbsp;</p>
                                    <p style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="font-family:Calibri"><b><span style="font-family:Arial;color: #000">Archivos de interés:</span></b><span style="font-family:Arial"></span></span></span></p>

                                    <ul><li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="tab-stops:list 36.0pt"><span style="font-family:Calibri"><span style="font-family:Arial"><a href="/upload/formatos/FORMATO SOLICITUD PARA HOMOLOGAR.pdf"><span style="color:blue">Formato para solicitud de Homologacion de materias.</span></a></span></span></span></span></li>
                                    </ul></div>
                            </div>

                        </div>
                    </div>


                </section>  
            </div>
        </div>
    </div>  
</div> 
